.home-component {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;

	.logo {
		width: 350px;
		margin: 20px 0;
	}

	.maintenance {
		background-color: white;
		border: 2px solid black;
		border-radius: 10px;
		padding: 50px;
	}

	.generations {
		// @margin: 10px;

		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 25px;
		margin-top: 15px;
		* {
			border-radius: 10px;
		}
		@media only screen and (max-width: 768px) {
			grid-template-columns: repeat(3, 25%);
			grid-template-rows: repeat(3, 150px);
			width: 100%;
			justify-content: space-evenly;
		}

		.generation-wrap {
			border: 3px solid black;
			background: linear-gradient(to bottom, white, red);
			// padding: @margin;
			cursor: pointer;
			transition: filter 0.2s;
			&:hover {
				filter: brightness(0.7);
			}
			@media only screen and (max-width: 768px) {
				padding: 3px;
			}

			.generation-card {
				background: white;
				display: flex;
				flex-direction: column;
				align-items: center;
				border: 2px solid black;
				@media only screen and (max-width: 768px) {
					height: 100%;
				}

				.generation-name {
					background-color: black;
					color: white;
					width: 100%;
					display: flex;
					justify-content: center;
					border-bottom: 1px solid black;
					font-weight: bold;
					border-top-left-radius: 6px;
					border-top-right-radius: 6px;
					border-bottom-left-radius: 0;
					border-bottom-right-radius: 0;
					@media only screen and (max-width: 768px) {
						height: 20%;
						font-size: 9px;
					}
				}
			}
		}

		.starters {
			width: 100%;
			// margin: @margin*2 0;
			display: flex;
			justify-content: space-evenly;
			@media only screen and (max-width: 768px) {
				margin: 0;
				height: 80%;
				> :not(:first-child) {
					display: none;
				}
			}

			img {
				width: 80px;
				// margin: 0 @margin;
				@media only screen and (max-width: 768px) {
					margin: 0;
					height: 100%;
					width: auto;
				}
			}
		}
	}
}
