.pokemon-list-component {
  display: grid;
  row-gap: 10px;
  grid-template-rows: auto auto 90%;
  max-width: 825px;
  padding: 10px;
  margin: auto;

  .back-button {
    justify-self: start;
  }

  .search {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 2fr;
    @media only screen and (max-width: 768px) {
      grid-template-columns: initial;
      form {
        display: flex;
        align-items: center;
        justify-content: space-between;
        p {
          display: flex;
          flex-direction: column;
          align-items: center;
        }
      }
    }

    .types-menu {
      display: grid;
      gap: 5px 10px;
      grid-template-columns: repeat(6, 1fr);
      @media only screen and (max-width: 768px) {
        grid-template-columns: repeat(5, 1fr);
      }

      .type {
        border: 2px solid gray;
        cursor: pointer;
        transition: all 0.2s;
        &:hover {
          filter: brightness(0.8);
        }
        &:active,
        &--selected {
          border-color: red;
        }
      }
    }
  }

  .list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    overflow-y: auto;
    height: calc(100vh - 200px);
    width: fit-content;
    @media only screen and (max-width: 768px) {
      grid-template-columns: repeat(3, 1fr);
      height: calc(100vh - 320px);
    }
  }
}
